$primary: #1E8385;
$secondary: #27a6a9;
$white: #ffffff;
$wsmoke: #dbf3f4;
$dark: #041c34;
$cyan: #4dc3c6;
$cyan-light: #e5f6f7;
$cyan-3: #c1f0f1;
$teal: #00368d;
$gray: #3d3d3d;
$light-gray: #8C919C;
$dark-gray: #242933;
$gray-2: #828282;
$gwhite: #f5fcff;
$aqua: #ecf8f9;
$peep: #f7e2e0;
$alice-blue: rgba(243, 247, 251, 0.5);
$alice-blue2: #e8f6ff;
$alice-blue3: #f4f8fb;
$medium-grey: #7e7e7e;
$extra-light-gray: #E5E5E5;
$border-color: #dcdcdd;
$cyan-900: #0E1111;
$gray-900: #1A1A1A;

$color1: #9251ac;
$color2: #f6a4ec;

$color3: #87bbfe;
$color4: #555ac0;

$color5: #24b47e;
$color6: #aff1b6;