a {
    &:hover {
        color: $primary;
    }

    &.a-hover {
        &:hover {
            text-decoration: underline;
        }
    }
}

.home-section-1 {
    height: calc(100vh - 88px);
}

// Text Color

.bg-gwhite {
    background-color: $gwhite;
}

.bg-alice-blue3 {
    background-color: $alice-blue3;
}

.bg-bird {
    background-color: #d3f7f8;
}

.bg-f5 {
    background-color: #f5f5f5;
}

.bg-cyan-light {
    background-color: $cyan-light;
}

.bg-extra-light-gray {
    background-color: $extra-light-gray;
}

.bg-wsmoke {
    background-color: $wsmoke;
}

.bg-border-color {
    background-color: $border-color;
}

.bg-dark-gray {
    background-color: $dark-gray;
}

.primary-gradient {
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(142, 195, 253, 0.15) 80%);
}

.restro-book-liner {
    background: linear-gradient(345deg, rgba(254, 128, 58, 1) 0%, rgba(254, 128, 58, 0) 75%, rgba(254, 128, 58, 0.15) 89%, rgba(254, 128, 58, 0.3) 100%);
}

// request-quote-bg
.request-quote-bg {
    background-color: #f2f2f2;
}

// Text Color
p {
    color: $gray;
}

//text-size
.text-main {
    font-size: calc(1rem + 3vw);
}

.text-5xl {
    font-size: calc(4.425rem + 2.1vw) !important;
}

// Text Shadow
.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

// backdrop filter
.backdrop-blur-5 {
    backdrop-filter: blur(5px);
}

// Box Shadow
.shadow-a1 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-shadow2 {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08) !important;
}

.portfolio-shadow {
    box-shadow: 12px 12px 0px 0px rgba(129, 129, 129, 0.10);
}

// rotate
.btn-hover {
    width: 3rem;
    height: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-radius: 99px;
    transition: all 0.5s;
    overflow: hidden;

    .text {
        width: 8rem;
        margin-left: -7rem;
    }

    i {
        width: 2rem;
    }

    &:hover {
        width: 10.6rem;

        .text {
            transition: all 1s;
            margin-left: 0;
        }

        i {
            transition: all 0.5s;
        }
    }
}

@keyframes Dash {
    100% {
        stroke-dashoffset: 0;
    }
}

.btn-dark {
    --x-btn-hover-bg: #27a6a9;
    --x-btn-hover-border-color: #27a6a9;
}

.text-outline {
    -webkit-text-stroke: 2px $dark;
    -webkit-text-fill-color: transparent;
}

// background-size-contain
.background-contain {
    background-size: contain;
}

.btn-primary2 {
    cursor: pointer;
    background-size: 300% 100%;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: white;
    background-image: linear-gradient(to right,
            $primary,
            #4ac0c5,
            #4ac0c5,
            $primary );

    &:hover {
        background-position: 100% 0;
        color: white;
    }

    &:focus {
        outline: none;
    }
}

// btn-arrow
.button-arrow {
    .button-arrow-right {
        &:before {
            position: absolute;
            right: 0;
            top: 50%;
            margin-right: 22px;
            transform: translateY(-50%);
            transition: transform 0.3s ease-in-out;
        }
    }

    .button-arrow-left {
        &:before {
            position: absolute;
            left: 0;
            top: 50%;
            margin-left: 22px;
            transform: translateY(-50%);
            transition: transform 0.3s ease-in-out;
        }
    }

    &:hover {
        .button-arrow-right {
            &::before {
                transform: translate(5px, -50%);
            }
        }

        .button-arrow-left {
            &::before {
                transform: translate(-5px, -50%);
            }
        }
    }
}

.social-links {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 1px solid #e3e3e3;
        font-size: 12px;
        color: $gray;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            color: $primary;
            border-color: $primary;
        }
    }
}

// List Style
.list-type-1 {
    li {
        background-image: url(../../public/frontend/images/list-icons/list-1-round-check.svg);
        background-position: left center;
        background-repeat: no-repeat;
        color: $gray;
        font-size: 18px;
        background-size: auto;
        padding-left: 34px;
    }
}

// List Style
.list-type-2 {
    li {
        background-image: url(../../public/frontend/images/list-icons/list-2-round.svg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position-y: 7px;
        background-position-x: left;
        color: $gray;
        font-size: 18px;
        padding-left: 24px;
    }
}

// List Style
.list-type-3 {
    li {
        background-image: url(../../public/frontend/images/small-arrow.svg);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 24px;
        color: $gray;
        font-size: 18px;
        padding-left: 38px;
    }
}

.list-type-3-site-map {
    li {
        background-image: url(../../public/frontend/images/small-arrow.svg);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 24px;
        color: $gray;
        font-size: 18px;
        padding-left: 38px;

        a {
            color: #3d3d3d;

            &:hover {
                color: $primary;
            }
        }
    }
}

.list-type-4 {

    ul,
    ol,
    p {
        padding-left: 0;
        color: $gray;
        font-size: 16px;
        list-style-type: none !important;

        li {
            padding-left: 2rem;
            background-position: left top;
            background-repeat: no-repeat;
            background-size: 25px;
            margin-bottom: 0.5rem;
            background-image: url(../../public/frontend/images/small-arrow.svg);
        }
    }

    p {
        padding-left: 2rem;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 18px;
        margin-bottom: 0.5rem;
        background-image: url(../../public/frontend/images/small-arrow.svg);
    }
}

.li-hover {
    li {
        transition: all 0.3s;
        width: fit-content;

        &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
            border-radius: 5px;
            padding: 16px 20px;
            margin-left: 10px;
        }
    }
}

.list-squre-check {
    li {
        background-image: url(../../public/frontend/images/list-icons/squre-check.svg);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 23px;
        padding-left: 38px;
    }
}

.list-check-1 {
    li {
        background-image: url(../../public/frontend/images/list-icons/check-icon.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 16px;
        padding-left: 26px;
    }
}

//max-w-screen-xs
.max-w-screen-xs {
    max-width: 400px !important;
}

.max-w-screen-500 {
    max-width: 500px !important;
}

.max-w-screen-660 {
    max-width: 660px;
}

//object
.object {
    object-fit: cover;
    object-position: center;
}

.object-contain {
    object-fit: contain;
}

//control
.select-control {
    transition-duration: 0.15s;
    border: 1px solid transparent;
    padding: 0.8rem 1.25rem;
    box-shadow: none;
    color: #8e8e8e !important;
    font-size: 16px;

    &:hover {
        box-shadow: 0px 3px 15px 0px rgba(57, 32, 182, 0.12);
    }

    &:focus {
        border: 1px solid $primary;
        box-shadow: 0px 0px 0.8px 1px $primary;
    }
}

.control {
    transition-property: box-shadow;
    transition-duration: 0.15s;
    border: 1px solid transparent;
    padding: 0.8rem 1.25rem;
    box-shadow: none;

    &:hover {
        box-shadow: 0px 3px 15px 0px rgba(57, 32, 182, 0.12);
    }

    &:focus {
        border: 1px solid $primary;
        box-shadow: 0px 0px 0.8px 1px $primary;
    }

    &::placeholder {
        color: #8e8e8e !important;
        font-size: 16px;
    }
}

//height
.h-100 {
    height: 33rem;
}

//img-fillter
.frame_img {

    &:hover {
        h5 {
            color: $primary;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

//card-filter
.card-filter {
    .card {
        border: none;

        .card-title {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 30%;
                height: 2px;
                bottom: -15px;
                left: 0;
            }
        }
    }

    :nth-child(odd) .card {
        background-color: $cyan-100;

        .card-title {
            color: $cyan-400;

            &::after {
                background-color: $cyan-400;
            }
        }
    }

    :nth-child(even) .card {
        background-color: $gray-100;

        .card-title {
            color: $gray-400;

            &::after {
                content: "";
                background-color: $gray-400;
            }
        }
    }
}

.card-filter2 {
    .card {
        border: none;
        background-color: $gray-100;
    }

}

//line
.hr-lines {
    position: relative;

    &::before {
        content: " ";
        display: inline-flex;
        height: 3px;
        width: 20px;
        position: relative;
        top: -5px;
        left: 0;
        margin-right: 15px;
        background: $primary;
    }
}

//bg-center
.bg-center {
    background-position: center;
}

// Animation
.animate {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.gradient-border {
    border-image-source: linear-gradient(to left, rgba(255, 255, 255, 0) 25%, #fff 80%);
    border-image-slice: 1;
    // background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(142, 195, 253, 0.15) 80%);
}

//media
@media (min-width: 991px) {
    .text-5xl {
        font-size: 6rem !important;
    }

    .h-lg-100 {
        height: 33rem !important;
    }
}

@media (min-width: 576px) {
    .translate-middle-sm {
        transform: translate(-50%, -50%) !important;
    }
}

.contactSubmit {
    &:disabled {
        background: linear-gradient(180deg, #2db9bc 0%, $primary 100%);
        box-shadow: 0px 4px 4px rgba(77, 195, 198, 0.25);
        border: 3px solid $primary;
        color: #ffffff;
    }
}

.moving-text-wrap {
    overflow-x: hidden;
    font-size: 120px;
    color: transparent;
    -webkit-text-stroke: 2px #f900d1;

    .moving-text-in {
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        white-space: nowrap;
        min-width: 100%;

        .moving-text {
            padding: 0 6px;
            -webkit-animation: slide-left 20s linear infinite;
            animation: slide-left 20s linear infinite;
        }
    }
}

@keyframes slide-left {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}