.text-main {
    font-size: calc(1rem + 3vw);
}

.list-check-1 {
    li {
        background-image: url(../../public/frontend/images/icon/list-type-check.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 16px;
        padding-left: 26px;
    }
}

.object-contain {
    object-fit: contain;
}

.font-60 {
    font-size: calc(1.2rem + 2vw);
}

.backdrop-blur-5 {
    backdrop-filter: blur(5px);
}